
  	<div ng-controller ="ChatCtrl">
  	<div class="alert bg-success" >
     <p><h5>Velkommen, {{user}}</h5></p>

      <h3>Chat: </h3> 
      </div>
  		<form ng-submit="addMessage()">
        <input type="text" ng-model="message">
        <input type="submit" value="Add Message">
      </form>

       <ul class="chatbox" style="width: 350px; height: 150px; overflow: auto;">
       <li ng-repeat="message in messages">
       {{ message.from }} : {{ message.content }} 
       </li>
      </ul>
      </div>

     <div ng-controller ="AdsCtrl">
  	<div class="alert bg-success" >
      <h3>Adverts: </h3> 
      </div>
  		<form ng-submit="newAd()">
        <input type="text" ng-model="adId">
        <input type="text" ng-model="adUser">
        <input type="text" ng-model="adName">
        <input type="text" ng-model="adDescription">
        <input type="submit">

      </form>
      </div>